*.qws
*.suo
bin
obj
*.out
*.hex
*.ii
*.o
*.class
.metadata
*.ncb
release
/fpga/uart_sdram_v2_test/PLLJ_PLLSPE_INFO.txt
/fpga/uart_sdram_raspberrypi/*.qws
/fpga/qsys_sdram/*.rpt
/fpga/workspace/qsys/*.elf
/fpga/workspace/qsys/*.objdump
/fpga/qsys/*.rpt
*.rpt
