<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
 
 <port>81</port>
 
 <SSL>
  <active>true</active>
  <port>443</port>
  <clientKeysFile>clientKeys.key</clientKeysFile>
  <keyStorePass>123456</keyStorePass>
  <keyPassword>123456</keyPassword>
 </SSL>
 
 <javaCompilerPath>file:///C:\Program Files\Java\jdk1.5.0_16\lib\tools.jar</javaCompilerPath>
 
 <defaultEncoding>utf-8</defaultEncoding>
 
 <sessionExpires>300</sessionExpires>
 
 <logFile>webServer.log</logFile>
 
 <configPage>
  <enabled>true</enabled>
  <url>/config</url>
  <userName>admin</userName>
  <passWord>4QrcOUm6Wau+VuBX8g+IPg==</passWord>
 </configPage>
 
 
<javaCompiler/>
<fileSystem>
<rootPath>c:\</rootPath>
<url>/c/</url>
<allowList>true</allowList>
<allowUpLoad>false</allowUpLoad>
<allowDel>false</allowDel>
<isDownload>true</isDownload>
<userName/>
<passWord/>
</fileSystem>
</config>
